*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:#ffffff;
    --text-color:#0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}